{% extends 'base.html.twig' %}

{% block title %}Bem vindo ao Hotel BBM{% endblock %}

{% block javascripts %}

  <script src="/daterangepicker/moment.min.js" type="text/javascript"></script>
  <script src="/daterangepicker/daterangepicker.js" type="text/javascript"></script>
  <link href="/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
  <script> 
   $('#data-selecionada').daterangepicker({
         "locale": {
        "format": "DD/MM/YYYY",
        "separator": " - ",
        "applyLabel": "Confirmar",
        "cancelLabel": "Cancelar",
        "fromLabel": "From",
        "toLabel": "To",
        "customRangeLabel": "Custom",
        "weekLabel": "W",
        "daysOfWeek": [
            "DO",
            "SE",
            "TE",
            "QA",
            "QI",
            "SE",
            "SA"
        ],
        "monthNames": [
            "Janeiro",
            "Fevereiro",
            "Março",
            "Abril",
            "Maio",
            "Junho",
            "Julho",
            "Agosto",
            "Setembro",
            "Outubro",
            "Novembro",
            "Dezembro"
        ],
        "firstDay": 1
    },
    minDate: new Date()
   });    
  </script>    

{% endblock %}

{% block body %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pesquise agora</h1>
      <p class="lead">Veja os quartos disponveis para sua data</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
              <div class="input-group">
                  <div>
                      <span class="input-group-text">@</span> 
                  </div>
                  <input class="form-control" type="text" name='data-selecionada' id="data-selecionada"/>
              </div>
              <div class="form-group">
                  <select class="form-control">
                      <option value="0">...Quantidade de Hospedes..</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5 ou +</option>
                  </select>    
              </div>    
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Pesquisar Disponibilidade</button>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

{% endblock %}
